{% extends "base.html" %}
{% block content %}
<form action="/delete/{{ task.id }}" method="post">
    <div class="row">
        <div class="col-auto">
            以下のデータを削除しますか？
        </div>
        <div class="col-auto">
            <input type="submit" value="削除" class="btn btn-warning">
            <a href="/"><button type="button" class="btn btn-outline-primary">戻る</button></a>
        </div>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
        <th>id</th>
        <th>タスク名</th>
        <th>締切日時</th>
    </thead>
    <tbody>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.deadline }}</td>
        <td>
            {% if task.is_shared: %}
            <span class="badge text-bg-primary">✓</span>
            {% endif %}
        </td>
    </tbody>
</table>
{% endblock content %}